/* IMPORT CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CODE STUFF */
:root  {


    /* COLOR VARIABLES */
    
    --blk : #0D0D0D;
    --wht : #F2F2F2;
    --aqua : #7ABFBF;
    --transaqua : rgba(122,191,191,.5);
    --orange : #EB5428;

    /* FONT STACK */

    --font-big : "Bebas Neue", sans-serif;
    --font-reg : "montserrat regular", sans-serif;
}
.montserrat{
    font-family: "Montserrat", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
}
.bebas-neue-regular{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* TYPOGRAPHY HINTS */
h1, h2, h3, nav a, nav span, menu li, #social li, footer{
    font-family: var(--font-big);
    text-align: center;
}
nav a, nav span, menu li, #social li, footer{
    font-size: 20px;
}
h1{
    font-size: 40px;
    background-color: var(--wht);
    padding-top: 25px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
p, dd, li, nav, input{
    font-family: var(--font-reg);
    font-size: 16px;
}
dt, .rating{
    font-family: var(--font-reg);
    font-weight: bold;
    font-size: 16px;
}
h4{
    display: none;
}
p{
    padding: 10px 0;
}

/* UNIVERSAL THINGS */
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "topbar"
        "nav"
        "search"
        "header"
        "main"
        "connect"
        "footer";
    width: 414px;
    margin: 0 auto;
    background-color: var(--transaqua);
    color: var(--blk);
    font-family: var(--font-reg);
}
main{
    display: grid;
    background-color: var(--wht);
    width: 100%;
    margin: 0 auto;
}
p{
    line-height: 1.25;
    padding: 15px;
}
img{
    width: 100%;
}

/* DEFINING GRID AREAS */
nav{
    grid-area: nav;
}
#search{
    grid-area: search;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
#connect{
    grid-area: connect;
}

/* shape for topbar? */
#topbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    height: 100px;
    grid-area: topbar;
    grid-template-areas: "menusquare logorect signinsquare";
    
}

#menusquare {
    position: absolute;
    width: calc(20%);
    height: 100px;
    top: 0px;
    background: #fff;
    margin: 0;
    grid-area: menusquare;
}
#logorect {
    position: absolute;
    top: 0;
    left: calc(20%);
    width: calc(60%);
    height: 100px;
    background: var(--orange);
    margin: 0;
    grid-area: logorect;
}
#signinsquare {
    position: absolute;
    width: 20%;
    height: 100px;
    top: 0px;
    right: 0px;
    background: #fff;
    margin: 0;
    grid-area: signinsquare;
}

/* DROPDOWN MENU STYLES */
nav {
    display: block;
    width: 100%;
    background-color: var(--wht);
    text-transform: uppercase;
}
nav ul {
    display: flex;
    flex-direction: column;
    text-align:center;
    margin:0;
    padding:0px;
    list-style:none;
    overflow:hidden;
    max-height:0;
    transition: max-height .2s ease-out;
}
nav h2 {
    visibility:hidden;
    height:1px;
}
nav ul li:first-child{
    font-weight: 800;
    font-variant: small-caps;
    text-transform: none;
    font-size: 1.2rem;
    margin: 0 auto;
}
nav ul li:first-child p{
    display: none;
}

nav ul li:last-child{
    margin: 0 auto;
    font-weight: 800;
    font-variant: small-caps;
    text-transform: none;
    font-size: 1.2rem;
}
nav ul li:last-child p{
    font-family: var(--font-big);
    font-size: 20px;
    padding-top: 0px;
    color: var(--blk);
}
nav li a {
    display:block;
    text-decoration:none;
    color:var(--orange);
    padding-top: 15px;
}
nav a:hover, nav input:hover {
    background-color: var(--orange);
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
}
nav p{
    height: 1px;
}
#signin p{
    height: 1em;
}
label span {
    background-color: transparent;
    display: block;
    height: 2px;
    position: absolute;
    top: 20px;
    padding-left: 20px;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: transparent;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
nav input {
    display:none;
}
nav input:checked ~ ul {
    max-height: 500px;
}
nav input:checked ~ label span {
    background: transparent;
}
nav input:checked ~ label span:before {
    transform: rotate(-45deg);
}
nav input:checked ~ label span:after {
    transform: rotate(45deg);
}
nav input:checked ~ label:not(.steps) span:before, nav input:checked ~ label:not(.steps) span:after {
    top: 0;
}
nav img{
    width: 40px;
}

/* DIV SEARCH */
#search{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--wht);
    padding-top: 25px;
}
#search div {
    display: flex;
    align-items: center;
}
#search h3{
    display: none;
}
#search label{
    display: none;
    height: 1px;
}
#search input{
    height: 100%;
    padding: 0;
    margin: 0 auto;
    grid-column: 2/3;
}
#search button{
    background-color: var(--orange);
}

/* MENU */
menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0 15px 0;
}
menu li a{
    text-decoration: none;
    color:var(--orange);
}

/* DETAILS SECTION */
#details{
    padding: 15px;
}
#details h2{
    padding: 20px 0;
}
#details dl{
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    row-gap: 10px;
}
#details dt{
    display: inline-block;
}

/* INGREDIENTS SECTION */
#ingredients{
    padding: 25px 0;
}
#ingredients ul{
    padding-top: 15px;
}
#ingredients ul li{
    list-style:disc;
    padding-left: 15px;
    margin-left: 35px;
    line-height: 1.5rem;
}

/* DIRECTIONS SECTION */
#directions{
    padding: 25px 0;
}
#directions ol{
    padding-top: 15px;
}
#directions ol li{
    list-style: decimal;
    line-height: 1.5rem;
    padding: 15px;
    margin-left: 35px;
}

/* SIDE DISHES */
#sidedish{
    background-color: var(--aqua);
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    padding: 15px;

}
#sidedish h2{
    padding-bottom: 25px;
}
#sidedish h3{
    text-align: left;
} 
#sidedish article{
    display: grid;
    column-gap: 2em;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "left right";
}
article img{
    grid-area: left;
    grid-row: 1/5;
}
article p, article h3, article div{
    grid-area: right;
}
article h3{
    grid-row: 1;
}
article p{
    line-height: 1;
    padding: 0;
    grid-row: 2;
}
article .rating{
    grid-row: 3;
}
article div{
    grid-row: 4;
}

/* CONNECT */
#connect{
    width: 100%;
    background-color: var(--wht);
}
#connect h3{
    padding-top: 15px;
    visibility: hidden;
    height: 1px;
}
#connect ul{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 15px;
}
#connect li{
    text-align: center;
    font-family: var(--font-big);
    color: var(--orange);
    font-size: 20px;
    padding: 25px 0;
}

/* FOOTER SECTION */
footer{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #fff;
    padding-bottom: 15px;
}
footer img{
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    grid-row: 1/2;
}



/* MEDIA RULE MID 768PX -  THINK 2 COLUMNS */
@media screen and (min-width: 768px) {
    body{
        width: 768px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "topbar topbar"
        "nav nav"
        "header header"
        "main main"
        "footer connect";
    }
    #topbar{
        grid-template-areas: 
        "logorect search signinsquare"
        "nav nav nav";
    }
    nav{
        width: 100%;
        height: 80px;
        display: grid;
        grid-template-columns: repeat(7,1fr);
    }
    nav ul{
        width: 100%;
        overflow: visible;
        position: absolute;
        top: 85px;
        display: flex;
        flex-direction: row;
    }
    nav ul li:first-child{
        top: 15px;
        left: 0;
        display: inline-block;
    }
    nav ul li:last-child{
        top: 15px;
        right: 0;
        display: inline-block;
    }
    #search div{
        position: absolute;
        top: 15px;
    }
    nav li a{
        padding: auto;
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }
    label span, input {
        display: none;
    }
    nav img{
        grid-row: 1;
    }
    label span, input {
        display: none;
    }

    #topbar{
        width: 100%;
    }

    main{
        grid-template-columns: 1fr;
    }
    #details{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #details h2{
        grid-column: 1/4;
    }
    #details dl{
        grid-column: 2/4;
    }
    #steps{
        display: flex;
        flex-direction: row;
    }
    #sidedish{
        grid-template-columns: 1fr 1fr;
    }
    #sidedish h2{
        grid-column: 1/3;
    }
    #connect{
        background-color: #fff;
    }

}

/* MEDIA RULE BIG 1280PX -  THINK 4 COLUMNS */
/* @media screen and (min-width: 1280px) {} */

/* MEDIA RULE PRINT */
/* @media print {} */